html {
font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-width: 320px;
}

img {
max-width: 100%;
height: auto;}

section {
padding: 50px 0;}

a {
color: #111;}

a:hover {
color: #555;}